.open-button {
    opacity: 1;
    margin: 20px;
    width: 100px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.709);
    overflow: auto;
    padding-top: 60px;
}

.popup .popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    width: 60%;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    animation: showPopup 0.3s forwards;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .popup-title {
    font-size: 24pt;
    font-weight: 600;
}

.top .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.top .close-btn:hover {
    color: var(--dark-blue);
    text-decoration: none;
}

.popup-description-container {
    border: 1px solid var(--dark-blue);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
    padding-bottom: 50px;
}

.action-btn-container {
    display: flex;
    gap: 20px;
}

#downloadBtn,
#sendByEmailBtn {
    opacity: 1;
    cursor: pointer;
}

@keyframes showPopup {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 720px) {
    .action-btn-container {
        align-items: center;
        flex-direction: column;
    }

    .close-btn {
        display: none;
    }
}
