@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --dark-blue: #203864;
    --light-blue: #8faadc;
    --box-shadow: 0 8px 10px rgba(0, 0, 0, 0.153);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "TW Cen MT";
    font-size: 11pt;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--dark-blue);
    box-sizing: border-box;
    background-image: url("../images/bg.svg");
    background-size: 120%;
    background-position: center;
}

h1 {
    font-size: 26pt;
    color: black;
    margin-bottom: 10px;
}

form {
    z-index: 1;
    background: #f3f3f1;
    background-image: url("../images/form_texture.png");
    object-fit: contain;
    background-repeat: no-repeat;
    width: 25%;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.form-title {
    font-size: 26pt;
    font-weight: bolder;
    margin-bottom: 20px;
}

form,
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input > input {
    border-radius: 15px;
    padding: 10px 15px;
    border: 1px solid var(--light-blue);
    outline: none;
    margin-bottom: 20px;
    font-size: smaller;
    transition: 0.2s ease-in;
}

.form-input > input:focus {
    border-color: #0033c1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container > button {
    border: 2px solid transparent;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 20px;
    padding: 6px 0px;
    margin: 10px 10px;
    width: 40%;
    font-weight: bolder;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.button-container > button:hover {
    background-color: black;
    color: white;
}

.button-container > #loginBtn {
    background-color: white;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.button-container > span {
    display: none;
}

@media (max-width: 929px) {
    form {
        width: 70%;
        padding: 40px 30px;
    }

    .button-container {
        flex-direction: column-reverse;
        margin: 0;
    }

    .form-input > span {
        display: none;
    }

    .button-container > span {
        display: block;
    }

    .button-container > button {
        width: 80%;
        margin: 10px 0px;
    }
}
